Nesse projeto, vamos utilizar dados da [_American Communities Survey (ACS)](https://usa.ipums.org/usa/acs.shtml)_ para estudar a relação entre educação e salário. A ACS é uma pesquisa realizada pelo _Unites States Census Bureau_ (embora ele não seja "O Censo", que é uma contagem de cada pessoa nos EUA e ocorre a cada 10 anos) que mede várias características da população americana. Os dados com os quais vamos trabalhar inclui cerca de 100 variáveis referentes à pesquisa de 2017, e é uma amostra de 10% dos dados totais da ACS (que, por sua vez, é uma amostra de 1% da população americana. Então, nós estaremos trabalhando com um amostra de 0.1% da população dos EUA).

Esses dados são disponibilizados pela [IPUMS](https://usa.ipums.org/usa/), que provê uma interface muito útil para conseguir acesso a amostras de importantes bases de dados, não apenas do governo americano, mas também de [governos mundo afora](https://international.ipums.org/international-action/sample_details).

Esta é uma base de dados _real_, o que significa que você vai receber os dados exatamente como eles são providenciados pelo _IPUMS_. A documentação explicando o que é cada variável pode ser encontrada [aqui](https://usa.ipums.org/usa-action/variables/group) (você pode pesquisar pelo nome da variável, para descobrir o que ela significa, ou pesquisar por algo que você deseje encontrar, para ver qual o nome da variável que contém o que você procura).

Nessa base de dados, você vai encontrar informações sobre o nível de escolaridade e os salários de uma porção representativa da população americana. Nós vamos usar esses dados para estimar o valor que o mercado de trabalho atribui a se formar no Ensino Médio (_high school_) ou na Faculdade (_college_), e para aprender um pouco mais sobre o significado de um diploma educacional.

Os dados para esse projeto pode ser encontrado [aqui](https://github.com/nickeubank/MIDS_Data/tree/master/US_AmericanCommunitySurvey). Primeiro, importe a base `US_ACS_2017_10pct_sample.dta`. 

Note que o formato desse arquivo é `.dta`, e não `.csv`. Por isso, ao invés de usarmos a função `read_csv`, precisamos usar a função `read_stata`.

Eu já escrevi o comando para você:

In [18]:
import pandas as pd

In [19]:
data = pd.read_stata('https://github.com/nickeubank/MIDS_Data/blob/master/US_AmericanCommunitySurvey/US_ACS_2017_10pct_sample.dta?raw=true')

#### Quantas linhas têm essa base de dados? Quantas colunas?

In [20]:
#Resposta
data.shape

(319004, 104)

Vamos ver que variáveis temos na base. 

#### Primeiro, tente ver as variáveis usando `.columns`.

In [16]:
#Resposta
data.columns

Index(['year', 'datanum', 'serial', 'cbserial', 'numprec', 'subsamp', 'hhwt',
       'hhtype', 'cluster', 'adjust',
       ...
       'migcounty1', 'migmet131', 'vetdisab', 'diffrem', 'diffphys', 'diffmob',
       'diffcare', 'diffsens', 'diffeye', 'diffhear'],
      dtype='object', length=104)

Repare as reticências! O Python não está te mostrando todas as variáveis da base. Vamos tentar algo diferente. 

#### Copie o código abaixo e substitua a lacuna por algo que imprimirá o nome de todas as colunas.

```python
for coluna in ___________:
    print(coluna)
```

In [17]:
#Resposta
for var in data.columns:
    print(var)

year
datanum
serial
cbserial
numprec
subsamp
hhwt
hhtype
cluster
adjust
cpi99
region
stateicp
statefip
countyicp
countyfip
metro
city
citypop
strata
gq
farm
ownershp
ownershpd
mortgage
mortgag2
mortamt1
mortamt2
respmode
pernum
cbpernum
perwt
slwt
famunit
sex
age
marst
birthyr
race
raced
hispan
hispand
bpl
bpld
citizen
yrnatur
yrimmig
language
languaged
speakeng
hcovany
hcovpriv
hinsemp
hinspur
hinstri
hcovpub
hinscaid
hinscare
hinsva
hinsihs
school
educ
educd
gradeatt
gradeattd
schltype
degfield
degfieldd
degfield2
degfield2d
empstat
empstatd
labforce
occ
ind
classwkr
classwkrd
looking
availble
inctot
ftotinc
incwage
incbus00
incss
incwelfr
incinvst
incretir
incsupp
incother
incearn
poverty
migrate1
migrate1d
migplac1
migcounty1
migmet131
vetdisab
diffrem
diffphys
diffmob
diffcare
diffsens
diffeye
diffhear

Quantas colunas! A maior parte dessas colunas não nos interessa. A vida é mais simples quando trabalhamos apenas com o essencial. Nesse projeto, a gente está interessado na relação entre educação e salários. Por isso, vamos selecionar apenas variáveis referentes a:

* Idade (`age`)
* Remuneração (`inctot`)
* Edudação (`educ`)
* Situação empregatícia i.e. se a pessoa está trabalhando no momento (`empstat`)

As variáveis correspondentes a essas grandezas estão em parêntesis.

#### Reduza o dataframe para conter apenas essas variáveis

In [21]:
#Resposta
data = data.loc[:,['age','inctot','educ','empstat']]
data.head()

  age   inctot                       educ             empstat
0   4  9999999  nursery school to grade 4                 n/a
1  17     6000                   grade 11            employed
2  63     6150         4 years of college            employed
3  66    14000                   grade 12  not in labor force
4   1  9999999        n/a or no schooling                 n/a

Agora que nós temos uma base de dados focada no que nos interessa, é sempre bom dar uma olhada nos dados. A forma mais fácil de fazer isso é usando o método `.head()`, que mostra as primeiras 5 linhas da base, ou o método `.tail()`, que mostra as últimas 5.

Mas para ter uma boa idéia da base, costuma ser melhor escolher linhas aleatórias. Se a base estiver ordenada por algum critério, as linhas do início ou do final podem não representar bem a base como um todo. É por isso que é melhor selecionar linhas aleatórias. Isso pode ser feito usando o método `.sample()`. 

#### Observe uma amostra aleatória de 20 linhas da base de dados

In [22]:
#Resposta
data.sample(20)

,age,inctot,educ,empstat
263592,55,32000,1 year of college,employed
247599,88,35500,grade 12,not in labor force
249250,59,60000,1 year of college,employed
169211,52,22000,4 years of college,employed
292905,38,0,grade 12,not in labor force
32309,82,7200,grade 9,not in labor force
253456,18,200,grade 12,not in labor force
152104,19,110,grade 12,employed
287072,10,9999999,nursery school to grade 4,n/a
172767,39,17700,grade 12,not in labor force
74886,90 (90+ in 1980 and 1990),32700,"grade 5, 6, 7, or 8",not in labor force
301709,64,12600,4 years of college,not in labor force
230155,57,131200,grade 12,employed
302142,59,28500,grade 12,employed
103101,69,50000,grade 12,not in labor force
195247,6,9999999,nursery school to grade 4,n/a
261244,40,6000,2 years of college,employed
228899,53,5000,grade 12,employed
87290,80,18100,grade 12,not in labor force
243200,45,96000,5+ years of college,not in labor force

Você vê algum problema com a base? 

#### Escreva abaixo alguns problemas que você percebe nesta base

Resposta
* A
* B
* C
* D

Um problema é que muita gente parece ter uma remuneração de $9,999,999. Além disso, pessoas com essa remuneração parecem ser crianças.

O que você está observando é um método (antiquado) de representar dados faltando. Neste caso, o valor 9999999 é usado para representar observações para as quais não se tem a informação (por exemplo, casos em que a pessoa é jovem demais para trabalhar e, portanto, não tem renda).

Vamos começar retirando da base todas as pessoas cuja renda é igual a 9999999.

#### Retire da base as pessoas cuja renda é igual a 9999999
Depois, mostre novamente uma amostra de 20 linhas, para comprovar que o problema foi resolvido.

In [27]:
#Resposta
data = data[data.inctot != 9999999]

In [28]:
data.sample(20)

       age  inctot                 educ             empstat
284921  95   23600             grade 10  not in labor force
284008  52  425000  5+ years of college            employed
9908    60       0  grade 5, 6, 7, or 8  not in labor force
287946  38    6000             grade 12            employed
196026  84    2100             grade 12  not in labor force
21477   16       0             grade 10  not in labor force
308555  70   53000             grade 11            employed
232584  65  400300             grade 12            employed
238305  51       0   4 years of college  not in labor force
66803   48   60000   4 years of college            employed
64583   65   20000             grade 11  not in labor force
119583  15    3500              grade 9                 n/a
154344  28       0  n/a or no schooling  not in labor force
57985   19       0    1 year of college  not in labor force
214787  16     500              grade 9  not in labor force
99869   51   21600    1 year of college  not in labor force
164620  87   55500    1 year of college  not in labor force
65157   30    7000   2 years of college  not in labor force
310986  16       0              grade 9  not in labor force
227642  40       0             grade 12  not in labor force

OK, outro problema potencial é que nossos dados incluem várias pessoas que estão desempregadas e pessoas que não pertencem à força de trabalho (ou seja, pessoas que não tem um emprego mas também não estão producrando por um). Para esta análise, queremos focar em pessoas que _estão_ empregadas. Por isso, 

#### Selecione apenas as pessoas empregadas (i.e., pessoas cuja variável `empstat` é igual a _employed_)
Mostre uma amostra aleatória de 5 linhas para comprovar que o filtro funcionou.

In [30]:
#Resposta
data = data.loc[data.empstat == 'employed']
data.sample(5)

       age  inctot                 educ   empstat
32365   55   45000  5+ years of college  employed
164717  56   24000              grade 9  employed
226789  68  120530  5+ years of college  employed
275154  61   57000   2 years of college  employed
260707  63    7000  n/a or no schooling  employed

Note que a nossa decisão de olhar apenas para pessoas que estão empregadas afeta como a gente deverá interpretar as nossas conclusões sobre a relação entre educação e trabalho. Como a gente está olhando apenas para pessoas que estão empregadas, e gente estará analisando a relação entre educação e remuneração para pessoas empregadas. Isso significa que se a educação aumenta as chances de alguém estar empregado, isso é algo que a gente não vai conseguir observar na nossa análise. (Economistas chamam isso de "margem intensiva", enquanto que a análise sobre se pessoas conseguem ou não arranjar um emprego se chama "margem extensiva")

Agora, vamos abordar a questão da educação. A variável `educ` parece ter vários valores que são essencialmente categorias (chamamos de valores _discretos_, por oposição a valores _contínuos_). Vamos ver que valores existem e qual é a frequência de cada um deles usando o método `.value_counts()`. Esse método é muito útil e você vai usá-lo muito! 

#### Use o método `.value_counts()` na variável `educ` para ver quais os valores possiveis dessa variável e qual a frequência de cada um deles

In [32]:
#Resposta
data['educ'].value_counts()

grade 12                     47815
4 years of college           33174
1 year of college            22899
5+ years of college          20995
2 years of college           14077
grade 11                      2747
grade 5, 6, 7, or 8           2092
grade 10                      1910
n/a or no schooling           1291
grade 9                       1290
nursery school to grade 4      468
Name: educ, dtype: int64

Existem vários valores possíveis e nem todos interessam.Vamos focar em apenas alguns.

#### Qual é o valor médio de remuneração (`inctot`) para pessoas que têm o Ensino Médio completo?
Obs.: Isso corresponde a ter uma escolaridade máxima (`educ`) igual a _grade 12_

In [43]:
#Resposta
data.loc[data.educ == 'grade 12','inctot'].mean()

38957.76068179442

#### Qual é o valor médio de remuneração (`inctot`) para pessoas que concluíram a faculdade (`educ` igual a "4 years of college")?  O que isso sugere sobre o valor de se formar na faculdade, após concluir o Ensino Médio?

In [44]:
#Resposta
data.loc[data.educ == '4 years of college','inctot'].mean()

75485.05293301983

In [45]:
#Discutir que o valor do diploma universitário é a diferença entre este valor e o anterior

#### Qual é o valor médio de remuneração (`inctot`) para pessoas que não concluíram o Ensino Médio? O que isso sugere sobre o valor de um diploma de conclusão do Ensino Médio?

In [46]:
#Resposta
data.loc[data.educ == 'grade 11','inctot'].mean()

21541.68693119767

#### Calcule as seguintes quantidades:

* Remuneração média para alguém que completou apenas a 9a série: ______________  
* Remuneração média para alguém que completou apenas a 10a série: ______________  
* Remuneração média para alguém que completou apenas a 11a série: ______________  
* Remuneração média para alguém que completou o ensino médio (12a série): ______________  
* Remuneração média para alguém que cursou 1 ano de faculdade mas largou (1 year of college): ____________
* Remuneração média para alguém que cursou 2 anos de faculdade mas largou (2 years of college): ____________
* Remuneração média para alguém que completou 4 anos de faculdade (que, para a maior parte dos cursos dos EUA, significa que a pessoa se formou na faculdade): ______________  

Dica: Você pode usar suas respostas para os itens anteriores para fazer uma função. Depois, basta aplicar a função a cada caso.

In [59]:
#Resposta
def remuneracao(grupo):
    media = data.loc[data.educ == grupo,'inctot'].mean()
    print(f'{grupo}: {media:.0f}')

remuneracao('grade 9')
remuneracao('grade 10')
remuneracao('grade 11')
remuneracao('grade 12')
remuneracao('1 year of college')
remuneracao('2 years of college')
remuneracao('4 years of college')

grade 9: 27172
grade 10: 23019
grade 11: 21542
grade 12: 38958
1 year of college: 43124
2 years of college: 48679
4 years of college: 75485

Você viu o que eu vi? Não faz muita diferença ir da $9^a$ série para a $10^a$, ou da $10^a$ para a $11^a$. Mas faz uma diferença _gigante_ sair da $11^a$ para efetivamente concluir o Ensino Médio ($12^a$ série).

Na faculdade acontece a mesma coisa. Fazer 1 ano ou 2 anos não muda nada. Mas concluir a faculdade.... aí sim a diferença no salário fica expressiva!

#### Por que você acha que isso acontece?

In [60]:
#Resposta

Parabéns! Você acaba de descobrir o _efeito da pele de cordeiro_ ([sheepskin effect](https://en.wikipedia.org/wiki/Sheepskin_effect#:~:text=The%20sheepskin%20effect%20is%20an%20applied%20economics%20theory,effect%20of%20possession%20of%20such%20an%20academic%20degree.)): pessoas com diplomas tendem a ganhar salários significativamente maiores do que pessoas que têm quase o mesmo nível de educação, mas não chegaram a efetivamente obter o diploma.

Em Economia, isso é visto como evidência de que o motivo pelo qual empresas pagam mais a profissionais que têm faculdade do que a profissionais que não têm faculdade _não é_ porque elas acreditam que a faculdade lhes ensinou conteúdos importantes para o mercado de trabalho. Se esse fosse o caso, a gente esperaria que os salários crescessem progressivamente com cada ano de faculdade, já que a cada ano se aprende mais.

Ao invés disso, esses resultados sugerem que empresas pagam mais para pessoas que têm um diploma universitário porque elas acreditam que esses profissionais são o tipo de pessoa que são mais prováveis de serem bem sucedidas nos seus trabalhos. Concluir uma faculdade, em outras palavras, não é apenas uma questão de acumular conhecimento. É também uma questão de sinalizar para o seu futuro empregador que você é o tipo de pessoa que consegue vencer o desafio de concluir uma faculdade, o que sugere que você também é o tipo de pessoa que vai conseguir vencer os desafios da vida profissional.

(Obviamente, talvez os empregadores estejam completamente errados nessa conclusão. Pode ser. Não sabemos. Mas, estejam eles certos ou errados, aparentemente é assim que eles pensam).

Em outras palavras, aos olhos dos empregadores, um diploma de faculdade é um _sinal_ sobre que tipo de pessoa você é, não um atestado de que você aprendeu determinados conteúdos acadêmicos. Essa idéia rendeu a [Michael Spence](https://en.wikipedia.org/wiki/Michael_Spence) o Prêmio Nobel de Economia.