## Exercicio resolvido sobre DataFrames

Este [link](https://raw.githubusercontent.com/cliburn/bios-823-2020/master/quiz/wnv_human_cases.csv) tem dados sobre a incidência de casos do Vírus do Nilo Ocidental, um vírus da família da dengue, da zika e da febre amarela. 

1. Importe os dados como um DataFrame chamado `df`. Em seguida, mostre 5 linhas aleatórias do DataFrame.

In [2]:
#== Gabarito ==#
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/cliburn/bios-823-2020/master/quiz/wnv_human_cases.csv')
df.head(5)

   Year  Week Reported   County  Positive Cases
0  2006             35  Alameda               1
1  2006             33    Butte               4
2  2006             34    Butte               1
3  2006             35    Butte              10
4  2006             36    Butte               2

2. Troque o nome das colunas para o portugues. Os nomes das colunas devem ser:
* ano
* semana
* distrito
* casos

Note as letras minúsculas e a ausência de acentos.

In [3]:
#== Gabarito ==#
df.columns = ['ano','semana','distrito','casos']
df.head()

    ano  semana distrito  casos
0  2006      35  Alameda      1
1  2006      33    Butte      4
2  2006      34    Butte      1
3  2006      35    Butte     10
4  2006      36    Butte      2

3.Quais distritos aparecem no DataFrame?

In [58]:
#==Gabarito ==#
set(df.distrito)

{'Alameda',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Riverside',
 'Sacramento',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba'}

4. Calcule o número total de casos por ano e salve sua resposta como o dataframe `df_ano`.

In [4]:
#== Gabarito ==#
df_ano = df.drop(columns='semana').groupby('ano').sum()

In [7]:
## == Ignore isso ==
## Eu uso células assim para me ajudar a corrigir a sua prova
## Elas vêem se você acertou, e me avisam caso contrário.
assert list(df_ano.casos.head()) == [272, 380, 445, 112, 111]
assert list(df_ano.casos.tail()) == [782, 442, 553, 217, 98]

5. Calcule o numero médio de casos em cada semana do ano. Em qual semana ocorrem, em média, o maior número de casos de infecção com o vírus?

In [52]:
##== Gabarito ==##
df.drop(columns='ano').groupby('semana').mean().sort_values('casos', ascending=False).head(1)

           casos
semana
41      3.708333

In [53]:
## Ignore isso
zzz = _
assert list(zzz.index)[0] == 41

6. Que distrito reportou o maior número de casos nessa semana, e em que ano isso aconteceu?

In [54]:
df.loc[df.semana==41].sort_values('casos', ascending=False).head(1)

       ano  semana     distrito  casos
1642  2017      41  Los Angeles     40

In [55]:
zzz = _
assert list(zzz.casos)[0] == 40
assert list(zzz.ano)[0] + list(zzz.semana)[0] == 2058