# Prova
## Nome:

OBS: DEIXE AS CÉLULAS CONTENDO O COMANDO `assert` COMO AS ÚLTIMAS CÉLULAS DE CADA RESPOSTA.

In [3]:
import numpy as np
from math import pi, e, sqrt

### Questão 1: Funções

Os babilônicos tinham um jeito muito esperto de calcular a raiz de um número.  
Pega, por exemplo, o número 49. Os babilônicos calculariam a raiz deste número assim...
1. Chuta uma raiz. Sei lá, 5.
2. Quanto é 49 sobre 5? É 9.8...
3. 9.8 não é 5. Isso significa que a raiz de 49 tem que estar entre 9.8 e 5. Tira a média, então:
4. A média entre 9.8 e 5 é 7.4. Voltamos ao passo 1, mas agora o nosso chute vai ser 7.4.

Repetimos esses passos até que a diferença entre a nossa estimativa atual e a última for menor do que um determinado valor a ser especificado.

**Construa uma função que calcule a raiz quadrada pelo método babilônico**
Essa função deve seguir a descrição da seguinte documentação:

```python

'''
Calcula a raiz quadrada pelo método babilônico

Parameters:
-----------
x: float
    Número cuja raiz quadrada se deseja calcular
ci: float
    Chute inicial.
    O valor default desse chute deve ser 1
tol: float
    Tolerância. 
    A função termina quando a diferença (em valor absoluto) entre a estimativa atual e a última for menor do que esse valor.

Returns:
--------
float
    Raiz quadrada de Q, estimada pelo método babilônico
    
Exemplo:
--------
>>> raiz(100, 20)
10.000000464611475
>>> raiz(49)
7.000000141269659

'''

```

In [4]:
## == Gabarito == ##
def raiz(x, ci = 1, tol=1e-6):
    
    r = ci
    while abs(x/r - r) > tol:
        r = (x/r + r)/2
    return(r)

### Curiosidade:
(Pode pular se estiver com o tempo apertado)

Você sabia que esse método, feito pelos babilônicos, é muito eficiente até mesmo para os padrões de hoje? Ele é um caso particular do Método de Newton, que você deve ter aprendido (ou vai aprender) em Cálculo.  

Mesmo assim, essa função (com todo o respeito) é muito mais lenta do que a função já implementada no próprio Python. Isso porque a função implementada em Python não está escrita em Python, mas em uma linguagem muito mais rápida (e difícil!): C.

Observe quanto tempo cada uma demora calculando $\sqrt{100}$:

In [5]:
from math import sqrt
%timeit raiz(100) # --- sua função
%timeit sqrt(100) # --- função do Python

1.98 µs ± 282 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
150 ns ± 21.2 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

Quase 20 vezes mais rápido! Esse é um dos motivos pelos quais, sempre que possível, devemos usar funções prontas em pacotes, ao invés de criarmos essas funções nós mesmos.

In [6]:
assert np.isclose(raiz(25), 5)
assert np.isclose(raiz(15241578750190521),123456789)
assert raiz(100,1) != raiz(100,2)

## Questão 2: Listas

Construa uma lista em que os termos sejam

$$
\left[1, -\frac{1}{3}, \frac{1}{5}, -\frac{1}{7}, \frac{1}{9}, -\frac{1}{11}, ... ,-\frac{1}{1000001} \right]
$$

isso é, o inverso de todos os números ímpares de 1 até 1-milhão-e-1 (inclusive), com sinais alternados. 

1. Use _list comprehension_ para gerar essa lista. Em seguida, salve-a como a variável `lista_Q2`

Agora, some tudo e  multiplique por 4. 

2. Salve esse resultado em uma variável chamada `soma_Q2`.

Agora, olhe o resultado. Você já viu esse número antes?

**Dica:** O $i$-ésimo número ímpar é $2i + 1$, começando-se a contar de $i=0$. Veja, por exemplo, a tabela abaixo:

| $i$ | $2i + 1$ |
|-----|----------|
|0    | 1        |
|1    | 3        |
|2    | 5        |
|3    | 7        |
|4    | 9        |
| etc.| etc ìmpar|

In [8]:
## == Gabarito == ##
lista_Q2 = [(-1)**i * 1/(2*i + 1) for i in range(1000000+1)]
soma_Q2 = 4 * sum(lista_Q2)
soma_Q2

3.1415936535887745

In [9]:
assert len(lista_Q2) == 1000001
assert np.isclose(soma_Q2, pi)

## Questão 3: Dicionários

Considere o seguinte dicionário, com resultados de um modelo de Data Science:

In [10]:
resultados = {'modelo_1': {'acuracia': 0.98, 'precisao': 0.96, 'recall': 0.95},
              'modelo_2': {'acuracia': 0.85, 'precisao': 0.86, 'recall': 0.82},
              'modelo_3': {'acuracia': 0.90, 'precisao': 0.87, 'recall': 0.91},
              'modelo_4': {'acuracia': 0.95, 'precisao': 0.97, 'recall': 0.92}
             }

Calcule o score F para cada um dos modelos e coloque no dicionario do respectivo modelo. O score F se calcula assim:

$$
F = 2\times\frac{precisao \times recall}{precisao + recall}
$$

Agora, mostre o dicionario contendo o score F em cada modelo.

In [11]:
## == Gabarito == ##
for modelo in resultados.keys():
    p = resultados[modelo]['precisao']
    r = resultados[modelo]['recall']
    F = 2 * p * r / (p + r)
    resultados[modelo]['F'] = F 
resultados

{'modelo_1': {'acuracia': 0.98,
  'precisao': 0.96,
  'recall': 0.95,
  'F': 0.9549738219895287},
 'modelo_2': {'acuracia': 0.85,
  'precisao': 0.86,
  'recall': 0.82,
  'F': 0.8395238095238095},
 'modelo_3': {'acuracia': 0.9,
  'precisao': 0.87,
  'recall': 0.91,
  'F': 0.8895505617977528},
 'modelo_4': {'acuracia': 0.95,
  'precisao': 0.97,
  'recall': 0.92,
  'F': 0.9443386243386243}}

In [12]:
assert list(map(lambda x: x['F'], resultados.values())) == [0.9549738219895287,
                                                            0.8395238095238095,
                                                            0.8895505617977528,
                                                            0.9443386243386243]

## Questão 5: Funções

A sequência de Collatz é muito bonitinha. Ela recebe um número $n$ inteiro e devolve outro, calculado da seguinte maneira:

* se $n$ for par, ela devolve $\frac{n}{2}$
* se $n$ for impar, ela devolve $3n + 1$

Aparentemente, se você ficar repetindo esses passos várias vezes, você sempre chega a 1, independente do número do qual você começou. Sim, isso é estranho. E ninguém sabe o porquê.

1. Faça uma função, chamada  `collatz`, recebe um número `n` e devolve o próximo termo da sequência de Collatz.

2. Faça uma função chamada `seq_collatz` que, a partir de um número $n$, devolva uma lista com todos os termos da sequência de Collatz até que o número 1 seja atingido. O número 1 deve ser incluído na lista.

3. Faça uma função chamada `max_collatz` que recebe um número $n$ e retorne o maior número da Collatz de $n$. Por exemplo, para $n = 12$, a sequência de Collatz é $[12, 6, 3, 10, 5, 16, 8, 4, 2, 1]$, então `max_collatz` deveria retornar $16$.

In [13]:
## == Gabarito == #
def collatz(n):
    if n%2 == 0:
        return(n/2)
    else:
        return(3*n + 1)

def seq_collatz(n):
    seq = [n]
    while n != 1:
        n = collatz(n)
        seq.append(int(n))
    return(seq)

def max_collatz(n):
    return(max(seq_collatz(n)))

In [14]:
assert max_collatz(12) == 16
assert max_collatz(1000) ==9232

## Questão 6: Séries e DataFrames

Este [link](https://raw.githubusercontent.com/cliburn/bios-823-2020/master/quiz/wnv_human_cases.csv) tem dados sobre a incidência de casos do Vírus do Nilo Ocidental, um vírus da família da dengue, da zika e da febre amarela. 

1. Importe os dados como um DataFrame chamado `df`. Em seguida, mostre 5 linhas aleatórias do DataFrame.

In [15]:
#== Gabarito ==#
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/cliburn/bios-823-2020/master/quiz/wnv_human_cases.csv')
df.head(5)

   Year  Week Reported   County  Positive Cases
0  2006             35  Alameda               1
1  2006             33    Butte               4
2  2006             34    Butte               1
3  2006             35    Butte              10
4  2006             36    Butte               2

2. Troque o nome das colunas para o portugues. Os nomes das colunas devem ser:
* ano
* semana
* distrito
* casos

Note as letras minúsculas e a ausência de acentos.

In [16]:
#== Gabarito ==#
df.columns = ['ano','semana','distrito','casos']
df.head()

    ano  semana distrito  casos
0  2006      35  Alameda      1
1  2006      33    Butte      4
2  2006      34    Butte      1
3  2006      35    Butte     10
4  2006      36    Butte      2

3. Crie uma série com o número total de casos por ano no distrito de Butte. Essa série deve se chamar `butte` e deve ter o `ano` como índice.

In [17]:
butte = df.loc[df.distrito == 'Butte',['ano','casos']].groupby('ano').sum()
butte

      casos
ano
2006     31
2007     16
2008      6
2009      2
2010      1
2011      3
2012     10
2013     24
2014     24
2015     53
2016     21
2017      4
2018     12
2019      4

In [18]:
assert list(butte.index) == list(range(2006,2020))
assert butte.iloc[6][0] == 10
assert butte.iloc[9][0] == 53

## Questão 8: Arrays

Rode o código abaixo.

In [36]:
np.random.seed(0)

Para responder as próximas perguntas, crie um array com 1000 linhas e 5 colunas de números aleatórios. Chame o seu array de `A`.

In [37]:
#==Gabarito== #
A = np.random.random((1000,5))
A

array([[0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ],
       [0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152],
       [0.79172504, 0.52889492, 0.56804456, 0.92559664, 0.07103606],
       ...,
       [0.69804658, 0.48635362, 0.9408649 , 0.06837524, 0.1557967 ],
       [0.19456826, 0.22100051, 0.23542762, 0.1528502 , 0.69291755],
       [0.21815575, 0.23545348, 0.19738826, 0.39868722, 0.9585931 ]])

1. Calcule a soma dos termos de cada linha desse array. Salve como o array `A1`

In [38]:
#==Gabarito ==#
A1 = A.sum(axis=1)

2. Calcule a média dos termos de cada coluna desse array. Salve como o array `A2`.

In [39]:
A2 = A.mean(axis=0)

3. Pegue a primeira coluna desse array e salve como um array `v`. Em seguida, aplique a função `f` definida a seguir a cada um dos seus elementos. Salve o resultado como o array `A3`.

In [40]:
def f(x):
    return(1/(1+np.exp(-x)))

In [41]:
#== Gabarito ==#
v = A[:,0]
A3 = f(v)

4. Construa um dicionário chamado `dicionario` com 3 chaves chamadas `A1`, `A2` e `A3` contendo os arrays `A1`, `A2` e `A3 respectivamente.`

In [42]:
#== Gabarito ==#
dicionario = {'A1': A1,
              'A2': A2,
              'A3': A3}

In [43]:
assert A1.shape == (1000,)
assert np.isclose(A1[100], 2.292488620835086)

In [44]:
assert A2.shape == (5,)
assert np.isclose(A2.std(), 0.008099197912765557)

In [45]:
assert A3.shape == (1000,)
assert np.isclose(A3[300], 0.6098765471994557)

In [46]:
assert np.prod(dicionario['A1'] == A1)
assert np.prod(dicionario['A2'] == A2)
assert np.prod(dicionario['A3'] == A3)